.search {
    position: absolute;
    top: 35px;
    left: 30%;
    width: 100vw;
    z-index: 100000;
}

.search>h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 579px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 350px;
}

.search>input {
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 375px;
    border: none;
    font-size: 20px;
}

.search>input:focus {
    outline-width: 0;
}

.search>button {
    position: absolute;
    left: 0;
    top: 425px;
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
    width: 579px;
    font-weight: 700;
}

.search>button:hover {
    background-color: white;
    color: #ff7779;
}